body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ingredientes {
  margin-left: 20px;
}

.l_ingredientes {
  margin-left: 20px;
}

.pasos {
  margin-left: 20px;
}

.l_pasos {
  margin-left: 25px;
}

.img_pan {
  margin-top: 20px;
  width: 850px;
  height: 430px;
}

.List{
  margin-left: 25px;
}

h1 {
  margin-bottom: 20px;
  color: #fff;
  text-transform: uppercase;
  font-size: 55px;
  font-weight: 100;
  letter-spacing: 30px;
  text-shadow: 3px 3px 5px #000;
}

nav ul {
  list-style: none;
  padding: 0 0 0 10px;
  min-width: 460px;
}

.img{
  margin-top: 20px;
  width: 350px;
  height: 430px;
}

*,
#content :first-child,
#content :last-child {
  margin-left: 25px;
}
